* {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Rubik', sans-serif !important;
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none;
}